<nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <div class="container"><a routerLink="/"><img src="../../assets/imgs/logo_redAviation.svg" width="150"></a></div>
        <!--<div *ngIf="userLogged|async as user" style="color:#fff;">
         Hola {{user.email}}
        </div>-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--<ng-container *ngIf="this.authService.isAuthenticated(); then authenticated; else notAuthenticated">

          </ng-container>-->

          <ng-template #notAuthenticated>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink='/register'>Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page">Login</a>
            </li>
          </ng-template>

          <!--<ng-template #authenticated>-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/vuelos'>Vuelos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/reservaJets'>Jets Privados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink='/paqueteria'>Paquetería</a>
            </li>
            <li class="nav-item">
                <button (click)="onClick()" class="btn btn-outline-danger mt-5">Logout</button>
            </li>
          <!--</ng-template>-->
        </ul>

       
      </div>
      
    </div>
  </nav>

  