<app-navbar></app-navbar>

<img class="img-full" src="../../../assets/imgs/fondoAvion.png" width="100%">
<div class="container">
  <div class="row justify-content-md-center m-4 text-center">
    <h2 class="text-center">Reservación de Vuelo</h2>
      <p>Conosotros viaja cómodo y seguro a cualquier destino Nacional o Internacional.</p>
  </div>
</div>

<!--Formulario Reservaciones Vuelos-->
<form [formGroup]="datos">
    <div class="row justify-content-center m-2">
        <div class="col-lg-4">
            <h4 class="text-center">Enviar correos</h4>
            <!--<input type="email" placeholder="Correo" class="form-control" formControlName="correo">-->
            <input type="text" placeholder="Asunto" class="form-control" formControlName="asunto">
            <textarea placeholder="Mensaje" cols="40" rows="4" class="form-control" formControlName="mensaje"></textarea>
            <div class="text-center">
                <button class="btn btn-outline-danger" (click)="enviarcorreo()">Enviar</button>
            </div>
        </div>
    </div>
</form>

