<section class="login-block">
    <div class="container">
        <div class="row ">
            <div class="col login-sec">
                <img src="../../assets/imgs/logo_redAviation.svg" width="150" class="logo"><br><br>
                <form [formGroup]="formLogin" class="login-form" (ngSubmit)="onSubmit()">
                    <h3 class="text-white text-center">Inicio de sesión</h3>
                    <div class="form-group">
                        <div class="alert-danger" *ngIf="formLogin.value.email && (formLogin.value.email.dirty || formLogin.value.email.touched)">
                            <div class="container-error-message">
                                <span>*Email requerido</span>
                            </div>
                        </div>
                        <input type="text" class="form-control m-2" formControlName="email" required placeholder="Email">
                    </div>
                    <div class="form-group">
                        <div class="alert-danger" *ngIf="formLogin.value.email && (formLogin.value.email.dirty || formLogin.value.email.touched)">
                            <div class="container-error-message">
                                <span>*Password requerido</span>
                            </div>
                        </div>
                        <input type="password" class="form-control m-2" formControlName="password" required placeholder="Password">
                    </div>
                    <input type="submit" class="btn btn-login btn-block m-2" value="Loguearse">
                    <div class="form-group m-2" style="color: #fff;">
                        ¿Aún no tienes cuenta? <a  href="javascript:void(0);" routerLink="/registro" style="color: #F40116;">Registrate</a>
                    </div>
                </form>

                <!--<button class="btn btn-info" (click)="onClick()">Login With google</button>-->
            </div>
        </div>
    </div>
</section>
