.alert-danger {
    color: #721c24;
    background: #f8d7da;
    border-color: #f5c6cb;
    margin: 5px;
    display: inline-block;
    padding: 5px
}

.container-error-message {

}

.login-block {
    background-image: url('../../../assets/imgs/bgSlides.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.login-block{
    float:left;
    width:100%;
    padding : 50px 0;
  }

  .container{width: 80%;}
  .login-sec{padding: 50px 30px; position:relative;}
  .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #0069c0;}
  .login-sec h2:after{content:" "; width:100px; height:5px; background:#DDBA87; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
  .btn-login{background: #DDBA87; color:#fff; font-weight:600; width: 100%;}
  .logo {display: flex; margin: 0 auto;}
  input {background-color: #ffffff00; border-radius: 30px;}
  ::placeholder { color: #fff; }